<footer class="footer">
  <small>
    Copyright <%= Time.now.strftime('%Y') %> &#169; AKA Group
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>
